.Header {
  margin: 0;
  position: relative;
  top: 0;
  box-shadow: 0px 25px 4rem rgba(0, 0, 0, 0.25);
}

.Header * {
  margin: 0;
}

.Header > img {
  width: 100%;
  object-fit: contain;
  filter: blur(1.5px) drop-shadow(-5px 50px 50px rgba(0, 0, 0, 0.25))
    brightness(0.5);
}

.Center {
  position: absolute;
  inset: 25% 0 17% 0;
  width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Center * {
  /* outline: 1px solid #f00 !important; */
}

.Center img {
  height: 100%;
}

.Text * {
  margin: 0;
  padding: 0;
}

.Text {
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  color: white;
}

.Text > button {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #dc872b;
  border-color: #dc872b;
  border-radius: 10px;
  height: 3rem;
  font-size: 2rem;
}

.CardsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Card {
  margin: 1rem;
  width: 30rem;
  height: 35rem;
  box-shadow: 0 1rem 2rem 0 #1a1a1a;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 21rem;
}

.Card img {
  margin-top: 17px;
  width: 90px;
  height: 90px;
}

.CardText {
  height: 70%;
  display: flex;
  align-items: center;
}

.Header .Bar {
  width: 100%;
  height: 6px;
  background-color: orange;
  position: relative;
  bottom: 3px;
}
